<h1>Slightly Demo</h1>
<div data-sly-use.htl="com.adobe.aem.guides.wknd.core.models.HTLSightly"></div>
<!--/* ===Array test=== */-->
<!--/* <div data-sly-list.item="${htl.booksArray}"> */-->
<!--/*     <p>Book : <b>${item}</b></p> */-->
<!--/* </div> */-->
<!--/* ===ArrayList test=== */-->
<!--/* <div data-sly-list.item="${htl.books @ begin = 0, step = 2, end = 3}"> */-->
<!--/*     <p>Index: <b>${itemList.count}</b> First: <b>${itemList.first}</b> Middle: <b>${itemList.middle}</b> */-->
<!--/*         Last: <b>${itemList.last}</b> Odd: <b>${itemList.odd}</b></p> */-->
<!--/*     <p>Book ##${itemList.count}: <b>${item}</b></p> */-->
<!--/* </div> */-->
<!--/* ===Repeat test=== */-->
<!--/* <div class="repeat" data-sly-repeat.item="${htl.books}"> */-->
<!--/*     <p>Book ##${itemList.count}: <b>${item}</b></p> */-->
<!--/* </div> */-->
<!--/* ===Map test=== */-->
<!--/* <div data-sly-list.item="${htl.booksMap}"> */-->
<!--/*     <p>key : <b>${item}</b></p> */-->
<!--/*     <p>value : <b>${htl.booksMap[item]}</b></p> */-->
<!--/* </div> */-->
<!--/* ===List With Map Test=== */-->
<!--/* <div data-sly-list.item="${htl.bookDetailsWithMap}"> */-->
<!--/*     <p>Book : <b>${item.bookname}</b></p> */-->
<!--/*     <p>Subject : <b>${item.booksubject}</b></p> */-->
<!--/* </div> */-->




